body {
  background-color: #222222;
  color: white;
  font-family: 'Encode Sans Expanded', sans-serif;  
  text-align: center;
  padding-top: 50px;
  
  padding-bottom: 55px;

}

.container-fluid{
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

}

.userinfo{
  height: 100%;
  width: 20%;
  margin: 0px;
  padding: 0px;
  float: right;
}

.infopanel{
  width: 100%
  height: 80px;
  background-color: blue;
  display: block;
}
.chatwindow{
  
  width: 95%;
  height: 400px;
  border: 1px solid black;
  margin-left: 2%;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: white;
}
.chatbutton{
 width: 95%;
  height: 40px;
  border: 2px solid black;
  margin: 2%;
  background-color: white; 
}
.left-navbar{
  
  width: 10%;
  float: left;
background-color: #384D66; 

margin-top:5px;

}
.chat{

width: 18%;
float: left;
background-color: #384D66; 
margin-top:5px;

}
.main{
width: 70%;
float: left;
background-color: #384D66; 
border: 1px solid black;
margin:5px;
}

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:green;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}



.btn-bet {
  display: block;
  margin-bottom: 0;
  width: 97%;
  height: 38px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: transparent;
  white-space: nowrap;
  
  border-radius: 5px;
  font-size: 14px;
  border: none;
  padding: 0;
}


.activematches{

width: 95%;
margin-left: 2%;
margin-bottom: 10px;
height:40px;
background-color: #384D66;
box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75); /* Параметры тени */

}



.activematches:hover{
background-color: #2D4562;
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75); /* Параметры тени */
}


.logoEvent{
width: 40px;
float:right;
padding-top: 3px;

}
.logoEvent-img{
margin: 2px;
width: 34px;
height: 34px;
margin-right: 1px; 
}


.logoGame{
width: 40px;
float:left;
}

.logoGame-img{
margin-top: 3px;
width: 34px;
height: 34px;
margin-left: 0px;
padding-left: 0px;

}

.nameTeam1{
width: 23.33%;
float:left;
cursor: default;
font-size: 95%;
}
.pTeam1{
  position: relative;
  margin-top: 10px;
  cursor: default;
  text-align: right;
  margin-right: 10px;
}

.logoTeam1{
width: 40px;
float:left;
padding-top: 3px;
}

.logoTeam1-img{
width: 34px;
height: 34px;
background-clip:content-box;
}

.betTeam1{
width: 8.88%;

float:left;
cursor: default;
font-size: 95%;
}
.betTeam1:hover{
font-size: 105%;
}

.scoreTeam{
width: 13.33%;

float:left;
cursor: default;
border-color: #1b2838;
text-align: center;
font-size: 120%;
}
.timeinfo{
width: 13.33%;
float:left;
cursor: default;
font-size: 95%;

}

.betTeam2{
width: 8.88%;

float:left;
cursor: default;
font-size: 95%;
}
.betTeam2:hover{
font-size: 105%;
}

.logoTeam2{
width: 40px;
float:left;
padding-top: 3px;
}

.logoTeam2-img{
  margin-top: 2px;
  width: 34px;
  height: 34px;
  background-clip:padding-box;
}

.nameTeam2{
width: 23.33%;
float:left;
cursor: default;
font-size: 95%;
}

.pTeam2{
  position: relative;
  margin-top: 10px;
  cursor: default;
  text-align: left; 
  margin-left: 10px
}
.modal-header{
  background-color: #556D8B;
}
.betmodal-header{
  width: 97%;
  height: 40px;

}
.modal-dialog {
width: 500px;
}
.modal-body{
  background-color: #1b2838;
}
.modal-footer{
  background-color: #556D8B;
  margin-top: 0px; 
  text-align: center;
}
.betmodal-logoTeam{
width: 10%;
height: 40px;
float:left;
}

.betmodal-gameinfo{
width: 77%;
height: 40px;
float:left;
}


.betmogal-teamvs{
  margin-bottom: 10px;
  font-size: 130%;
  padding: 0px;
}
.betmodal-eventinfo{
  margin: -5px;
  font-size: 80%;
  padding: 0px;
}
.betmodal-teamwin{
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
}
.betmodal-nameselecteam{
  
  font-size: 200%;

}
.betmodal-body-bet{
  width: 460px;
  height: 50px;
 padding: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.betmodal-body-win{
  width: 460px;
  height: 50px;
  padding: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.betinput{
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 12%;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 30px;
}

.wininput{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 20%;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    cursor: default;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 30px;
}

.user-inventory{
  width: 540px;
  border: 1px solid white;
   float:left;
}

.user-item{
  width: 120px;
  height: 120px;
  float:left;
  padding: 5px;
  border: 1px solid black;
  margin:5px;

}
.item-bg{
 width:100px;
 height: 70px;
}
.item-price{
width: 100px;
height: 20px;
font-size: 12px;
text-align: right;
cursor: default;
}

.item-name{
width: 100px;
height: 20px;
padding: 0px;
font-size: 10px;
cursor: default;
}

.item-rare{

}
.deposit-btn{
   float:left;
   width: 100px;
}
.deposit-inventory{
  width: 270px;
  border: 1px solid white;
   float:left;
}

.border-deposit{
  border:2px solid red;
  background-color: #04418B;
}
