body {
  background-color: #222222;
  color: white;
  font-family: 'Comfortaa', cursive;
  text-align: center;
      
    }

.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:green;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}



.btn-bet {
  display: block;
  margin-bottom: 0;
  width: 97%;
  height: 38px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: transparent;
  white-space: nowrap;
  
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  padding: 0;
}
.btn-bet1 {
  display: block;
  margin-bottom: 0;
  width: 97%;
  height: 38px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: transparent;
  white-space: nowrap;
  
  border-radius: 5px;
  font-size: 14px;
  border: 0;
  padding: 0;
}


.activematches{

width: 850px;
height:40px;
background-color: #384D66;
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.activematches:hover{
background-color: #2D4562;

}

p{
  margin-top: 6px;
}
.logoEvent{
width: 4.44%;
float:left;

}
.logoEvent-img{
margin: 2px;
width: 34px;
height: 34px;
margin-right: 1px; 
}


.logoGame{
width: 4.44%;
float:left;
}

.logoGame-img{
margin: 2px;
width: 34px;
height: 34px;
margin-left: 1px; 
}

.nameTeam1{
width: 23.33%;
float:left;
cursor: default;
font-size: 90%;
}
.pTeam1{
  position: relative;
  margin-top: 10px;
  cursor: default;
  text-align: right;
  margin-right: 10px;
}

.logoTeam1{
width: 4.44%;
float:left;

}

.logoTeam1-img{
margin-top: 2px;
width: 34px;
height: 34px;
background-clip:content-box;
}

.betTeam1{
width: 8.88%;

float:left;
cursor: default;
font-size: 95%;
}
.betTeam1:hover{
font-size: 105%;
}

.scoreTeam{
width: 13.33%;

float:left;
cursor: default;
border-color: #1b2838;
text-align: center;
font-size: 120%;
}
.timeinfo{
width: 13.33%;
float:left;
cursor: default;
font-size: 95%;

}

.betTeam2{
width: 8.88%;

float:left;
cursor: default;
font-size: 95%;
}
.betTeam2:hover{
font-size: 105%;
}

.logoTeam2{
width: 4.44%;
float:left;
}

.logoTeam2-img{
  margin-top: 2px;
  width: 34px;
  height: 34px;
  background-clip:padding-box;
}

.nameTeam2{
width: 23.33%;
float:left;
cursor: default;
font-size: 90%;
}

.pTeam2{
  position: relative;
  margin-top: 10px;
  cursor: default;
  text-align: left; 
  margin-left: 10px
}
.modal-header{
  background-color: #556D8B;
}
.betmodal-header{
  width: 97%;
  height: 40px;

}
.modal-dialog {
width: 500px;
}
.modal-body{
  background-color: #1b2838;
}
.modal-footer{
  background-color: #556D8B;
  margin-top: 0px; 
  text-align: center;
}
.betmodal-logoTeam{
width: 10%;
height: 40px;
float:left;
}

.betmodal-gameinfo{
width: 77%;
height: 40px;
float:left;
}


.betmogal-teamvs{
  margin-bottom: 10px;
  font-size: 130%;
  padding: 0px;
}
.betmodal-eventinfo{
  margin: -5px;
  font-size: 80%;
  padding: 0px;
}
.betmodal-teamwin{
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
}
.betmodal-nameselecteam{
  
  font-size: 200%;
}
.betmodal-body-bet{
  width: 460px;
  height: 50px;
 padding: 10px;
 box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.betmodal-body-win{
  width: 460px;
  height: 50px;
  padding: 10px;

  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.betinput{
  
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 12%;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid red;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 30px;
}

.wininput{
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 20%;
    padding: 0px;
    margin-bottom: 5px;
    border: none;
    cursor: default;
    background: transparent;
    font: 16px Arial, Helvetica, sans-serif;
    height: 30px;
}
}